
/* Mobile */
@media (max-width:740px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .big{
        overflow: hidden;
        
    }
    
    .header{
        display: none;
    }
    .header__mobile{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 80px;
        background-color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        z-index: 30px;
        margin-bottom: 64px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
    }
    .header__mobile .action__mobile{
        display: flex;
     }
     .header__mobile .logo__mobile{
        margin-left: 20px;
     }
    .header__search{
        padding: 0px 16px;
        margin: 0px 32px;
    }
    .header__menu{
        margin-right: 16px;
    }
    /* Header overlay */
    .header__overlay{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.3);
        display: none;
        animation: fadeIn linear 0.1s;

    }
    /* .nav__input:checked ~ .header__overlay{
        display: block;
    }
    .nav__input:checked ~ .nav__mobile{
        transform: translateX(0);
    } */
    .nav{
        display: none;
    }
    .nav__mobile{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 320px;
        max-width: 100%;
        background-color: #fff;
        transform: translateX(-100%);
       animation: fadeOut ease-in-out 1s;
    }
    .nav__mobile-list{
        margin-top: 50px;
        list-style: none;
        /* display: block; */
       
       
    }
    .nav__mobile-list li{
        border-bottom: 1px solid #ccc;
        /* margin-left: -40px; */
    }
    .nav__mobile-list li a{
        color: #0E1E32;
        display: block;
        text-decoration: none;
        padding: 10px 0px;
        font-size: 16px;
        margin-left: 20px;


    }
    .nav__mobile-list li a:hover{
        color: #C31815;
    }
    .nav__mobile .nav__mobile-close{
        position: absolute;
        top: 0.4rem;
        right: 2rem;
        width: 28px;
        height: 28px;
        color: #333;
        font-size: 50px;
        width: 28px;
        height: 28px;
    }
    /* Content */
    .main{
        margin:0 auto;
        padding: 0px 16px;
    }

    .content{
       font-family:  'Poppins';
       font-style: normal;
    }
    /* Banner */
    .introduce .banner img{
        width: 100%;
        margin-top: 120px;
        
    }
    .introduce .trending{
        display: flex;
        justify-content: space-between;
    }
    .introduce .trending h6{
        font-size: 20px;
        font-weight: 600;
        color: #C31815;
        margin: 20px 0px;
    }
    .introduce .trending .favorites{
        display: flex;
        margin: 20px 0px;
        /* align-items: center; */

    }
    .introduce .trending .mailbox{
        padding: 0 16px;
        margin: 0 8px;
    }
    /* Post */
    .post .title{
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 20px;
    }
    .post .post-content{
        font-size: 14px;
        font-weight: 400;
        line-height: 165%;
        margin-bottom: 22px;
    }
    .post .time{
        display: flex;
        justify-content: space-between;
        margin-bottom: 33px;
    }
    .post .time .time__lucy{
        opacity: 0.7;
        margin-right:10px ;

    }
    .content .crossbar{
        position: relative;
        width: 100%;
        height: 84px;
        background-color: #C31815;
        margin-bottom: 40px;
    }
    .content .crossbar .box{
        position: absolute;
        top: 10px;
        left: 20px;
        text-align: center;
        line-height: 35px;
        width: 125px;
        height: 35px;
        background-color: #fff;
        border-radius: 2px;
        
    }
    .crossbar .box p{
        color: #C31815;
        font-size: 14px;
        font-weight: 400;
    }
    .crossbar .crossbar__content{
        position: absolute;
        top: 50px;
        left: 20px;
       
    }
    .crossbar .crossbar__content p{
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        line-height: 15px;
        margin-top: 5px;
        
       
    }
    /* Option */
    .content .option{
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .content .option .option__flex{
        display: flex;
       
       /* display: inherit; */
    }
    .content .option .option__flex li{
        list-style: none;
    }
    .option__flex li a{
        cursor: pointer;
        text-decoration: none;
        color: #2A2A2A;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px;
    }
    
    .option__flex li .think{
        padding: 0px 15px;
    }
    /* Article */
    .content .article{

    }
    .content .article .modal__box{
        width: 355px;
        height: 460px;
        border: 1px solid  #D2D2D2;
        margin-bottom: 30px;
        background-color: #fff;
        border-radius: 3px;
        
    }
    .article .modal__box .item__img{

    }
     .article .modal__box .item__img img{
        width: 100%;
     }
     .article .item__bag{
        margin: 0px 16px;
     }
     .article .item__bag .item__title{
        color:  #2A2A2A;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        margin: 10px 0px;
     }
     .article .item__bag .item__content{
        margin-bottom: 20px;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;
        text-align: justify;
        height: 105px;
        margin-top: 20px;

     }
     .article .item__bag .item__time{
        display: flex;
        justify-content: space-between;
     }
     .article .item__bag .item__lucy{
        opacity: 0.7;
     }
     .content .border__top{
      

     }
     .content .item__bag__icon{
        margin-top: 15px;
        border-top: 1px solid #ccc;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-around;

     }
     /* View More */
     .content .view__more{
        margin-top: 32px;
        text-align: center;
       
    }
    .content .view__more button{
        padding: 20px 50px;
        background-color: #fff;
        border: 1px solid #C31815;
        color: #C31815;
        font-size: 14px;
        font-weight: 700;
        margin: 20px;
    }
    .content .view__more button:hover{
        cursor: pointer;
        opacity: 0.9;
        background-color: #C31815;
        color: #fff;
    }

    /* News */
    .content .news .news__title h3{
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #2A2A2A;
        margin: 16px 0px;
    }
    .content .first__img img {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 12px;
    }
    .content .second__img img {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 12px;
    }
    .content .first__title,.second__title p{
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.5px;
        /* font-style: italic; */
        line-height: 24px;
        max-width: 304px;
        /* text-align: justify; */
        max-height: 72px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 10px 0px;

    }
    .content .first__content,.second__content p{
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 22px;
        margin-bottom: 20px;
        /* text-align: justify; */
    }
     




    /* footer */
    footer{
      text-align: center;
      padding: 0 16px;
      background-color: #0E1E32;
      width: 100%;
      height: 388px;
      margin-top: 60px;

    }
    .footer__logo{
        margin-top: 30px;
    }
    .footer__center{
        text-align: center;
        display: inline-block;
    }
    .footer__center p{
        padding-top: 20px;
        color: #ccc;
    }
    .footer__text {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #fff;
        /* padding-right: 40px;
        margin-left: 40px; */
        margin: 40px;

    }
    .footer__nav a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        font-size: 20px;
        margin-right: 10px;
    }
    .footer__icon {
        margin-top: 28px;
    }
    .footer__icon a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        margin-right: 24px;
        font-size: 28px;
    }
}
@keyframes fadeIn{
    from{
        opacity: 0;
       

    }
    to{
        opacity: 1;
        
    }
}
@keyframes fadeOut{
    from{
        opacity: 0;
        transform: translateX(-100%);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
/* Màn hình Mobile và màn hình table */
@media (min-width:740px) and (max-width:1023px) {
    .big{
        overflow: hidden;
    }
    .content .crossbar{
        margin: auto;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #C31815;
        padding: 18px 0px;
        
    }
    .nav__mobile{
        display: none;
    }
     .option {
        display: flex;
        justify-content: space-between;
        margin: 40px;
    }
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 32px;
        margin: auto;
        max-width: 700px
    }
    .article .modal__box{
        border: 1px solid #D2D2D2;
        width: 314px;
        height: 532px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .article .modal__box .item__img img{
        width: 314px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    /* News */
    .content .news{
        max-width: 700px;
        margin: auto;
    }
   
    .content .news__title{
        margin-bottom: 32px;
    }
    footer{
        width:100%;
        height:240px ;
        background-color: #0E1E32;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .footer__center{
        text-align: center;
        display: inline-block;
    }
    .footer__center p{
        padding-top: 20px;
        color: #ccc;
    }
    .footer__text {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #fff;
        padding-right: 40px;
        margin-left: 40px;
    }
    .footer__nav a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        font-size: 20px;
        margin-right: 10px;
    }
    .footer__icon {
        margin-top: 28px;
    }
    .footer__icon a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        margin-right: 24px;
        font-size: 28px;
    }
    
}
/* Màn hình  tablet */
@media(min-width:768px){
    *{
        padding: 0px;
        margin: 0;
        box-sizing: border-box;
       
    }
    body{
        font-family:  IBM Plex Serif;
        font-style: SemiBold;   
    
    }
    
    /* .pd-24{
        padding-bottom: 24px !important;
    }
    .mg-51{
        margin-bottom: 51px !important;
    }
    .mg-64{
        margin-bottom: 64px !important;
    }
    .mg-20{
        margin-bottom: 20px!important;
    }
    .mgr-40{
        margin-right: 40px !important;
    } */
    .main{
        /* width: 1200px; */
        margin:  auto;
    }
    /* Header */
    .header__mobile{
        display: none;
    }
    .header{
        z-index: 10;
        position: fixed;
        background-color: #fff;
        top: 0;
        width: 830px;
        padding: 0 40px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
  
       
    }
    
    .header .logo{
        margin-top: 18px;
    }
    
    .header__person,
    .header__search,
    .header__menu :hover{
        cursor: pointer;
        opacity: 0.8;
    }
    .header .nav{
        position: absolute;
        right: 245px;
        top: 15px;
    }
    .nav ul{
        text-align: center;
        padding: 20px 0px;
    } 
    .nav ul li{
        display: inline-block;
        padding: 0px 8px;
        /* margin-bottom: 60px; */
    }
    .nav ul li a{
        text-decoration: none;
        color: #2A2A2A;
        font-weight: 600;
        font-family:Nunito Sans;
        font-style: SemiBold;
        font-size: 14px;
    }
    .nav ul li a:hover{
        color: orangered;
    } 
    /* Header Action btn */
    .header .action{
        display: flex;
        position: absolute;
        right: 0;
        top: 34px;
    
    }
    .header .header__search {
        margin: 0px 40px;
       
    }
    .header .header__menu {
        margin-right: 40px;
    }
    
    /* Content */
    .content{
        margin-top: 120px;
    }
    .content .introduce{
        /* display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:16px; */
    }
    .content .banner{
        text-align: center;
        margin-bottom: 30px;

    }
    .content .favorites{
        cursor: pointer;
    }
    
    /*Content__Desc */
    
    .content .desc{
       margin: 0 60px;
    }
    .desc .trending{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    .desc .trending h6{
        font-family: Poppins;
        font-size: 14px;
        font-style: SemiBold;
        color: #C31815;
        font-weight: 600;
    
    }
    .desc .favorites{
        display: flex;
        cursor: pointer;
    }
    .desc .favorites .mailbox{
        margin: 0px 20px;
    }
    
    
    .desc .post .title p{
        font-size: 28px;
        font-weight: 500;
        margin-bottom: 20px;
        line-height: 32px;
        /* letter-spacing: 1px; */
    }
    .desc .post .post-content p{
        font-size: 16px;
        line-height: 24px;
        text-align: justify;
        opacity: 0.8;
        margin-bottom: 20px;
    
    }
    
    .post .time {
        display: flex;
        margin-bottom: 60px;
    }
    .post .time .time__ago{
        padding-right: 9px;
        margin-right: 9px;
    }
    .post .time .time__ago p{
        font-size: 15px;
        opacity: 0.8;
        margin-right: 40px;
    }
    .post .time .time__lucy p{
        font-size: 15px;
        opacity: 0.6;
    }
    /* Crossbar */
    .content .crossbar{
        margin: auto;
        /* width: 90%; */
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #C31815;
        padding: 18px 0px;
        
    }
    .content .crossbar .box{
        border: 1px ;
        background-color: #fff;
        padding: 16px ;
       
    }
    .content .crossbar .box p{
        color: #C31815;
        font-size: 16px;
        font-weight: 400;
        
       
    }
    .content .crossbar .crossbar__content{
       
    }
    .content .crossbar .crossbar__content p{
        font-family: Poppins;
        font-style: Medium;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.5px;
    }
    /* Option */
    .option {
        display: flex;
        justify-content: space-between;
        
    }
    .selection__bar:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    .option__menu ul{
    
    }
    .option__menu ul li{
        display: inline-block;
        padding: 0px 22px;
    }
    .option__menu ul li a{
        text-decoration: none;
        color: #2A2A2A;
        font-size: 20px;
        font-weight: 600;
    }
    .option__menu ul li a:hover{
        color: #C31815;
        /* opacity: 0.6; */
    }
    /* Article - Modal Box */
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 16px;
        
        
    }
    .article .modal__box{
        border: 1px solid #D2D2D2;
        width: 314px;
        height: 532px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .article .modal__box .item__img img{
        /* width: 314px; */
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .modal__box .item__bag{
        /* display: flex; */
       /* margin: 0 auto; */
    }
    .modal__box .item__title{
        font-size: 18px;
        color: #2A2A2A;
        font-weight: 600;
        margin: 20px;
        /* text-align: center; */
    }
    .modal__box .item__content{
        color: #2A2A2A;
        font-size: 15px;
        line-height: 1.4;
        margin: 18px 20px;
        text-align: justify;
        height: 105px;
    }
    .modal__box .item__time{
        margin: 33px 20px;
        display: flex;
        
    }
    .modal__box .item__ago{
        padding-right: 10px;
        margin-right: 10px;
        color: #2A2A2A;
        font-size: 14px;
    }
    .modal__box .item__lucy{
        color: #2A2A2A;
        font-size: 14px;
        opacity: 0.6;
        opacity: 0.6;
    }
    
    .modal__box .item__icon{
        border-top: 1px solid #D2D2D2;
       
        /* justify-content: space-between; */
        justify-content: space-evenly;
      
    }
    .modal__box .item__icon .item__bag__icon{
        display: flex;
        margin:35px 26px ;
        /* justify-content: center; */
    }
    .item__icon .icon_tym span{
      margin-left: 5px;
    }
    .item__icon .icon_mailbox img{
       margin-right: 5px;
    
    }
    .item__icon .icon_mailbox{
       padding: 0 30px;
      
    }
    /* View More */
    .content .view__more{
        margin-top: 32px;
        text-align: center;
       
    }
    .content .view__more button{
        padding: 22px 61px;
        background-color: #fff;
        border: 1px solid #C31815;
        color: #C31815;
        font-size: 14px;
        font-weight: 700;
        margin: 20px;
    }
    .content .view__more button:hover{
        cursor: pointer;
        opacity: 0.9;
        background-color: #C31815;
        color: #fff;
    }
    /* News */
    
    .content .news .news__bag{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:16px;
        margin-bottom: 100px;
    }
    .content .news .news__first, .news__second{
        display: block;
        flex-direction: row;
    }
    .news .first__bag, .second__bag{
        display: flex;
        flex-direction: column;
        width: 80%;
        text-align: justify;
    }
    
    .news .first__img, .second__img{
        margin-right: 16px;
    }
    
    .news .first__title, .second__title{
        font-size: 16px;
        font-weight: 700;
        line-height:24px ;
        font-family: IBM Plex Serif;
        font-style: Bold;
        color: #2A2A2A;
        margin-bottom: 8px;
      
    }
    .news .first__content, .second__content{
        font-family: Nunito Sans;
        font-style: Regular;
        font-size: 16px;
       line-height: 1.4;
       padding-top: 10px;
       max-height: 65px;

    }
    /* Footer */
    .footer{
        width:1520px;
        height:220px ;
        background-color: #0E1E32;
        color: #fff;
    }
    .footer .address{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:32px;
    }
    .footer .icon__footer, .information, .network{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer .icon__footer{
        position: relative;
    }
    .footer .logo__footer{
        position: absolute;
        left: 140px;
        top: 62px;
        /* margin-bottom: 41px; */
    }
    .footer .access{
        position: absolute;
        left: 80px;
        top: 132px;
        opacity: 0.6;
    }
    .footer .nav__footer{
        margin-top: 40px;
    }
     .nav__footer ul{
        list-style-type: none;
    }
    .nav__footer ul li{
        margin: 10px 0px;
    }
     .nav__footer ul li a{
        text-decoration: none;
        font-size: 15px;
        color: #fff;
        /* line-height: 140%; */
        font-family: Poppins;
        font-style: Medium;
        font-weight: 500;
    
    }
    .footer .network{
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .footer .network .title__network{
        position: absolute;
        top: 50px;
        right: 200px;
        display: flex;
        justify-content: center;
    }
    .footer .network .social__network{
        position: absolute;
        top: 60px;
        right: 200px;
        display: flex;
    }
}

/* Màn hình PC */
@media (min-width:1280px) {
    *{
        padding: 0px;
        margin: 0;
        box-sizing: border-box;
       
    }
    body{
        font-family:  IBM Plex Serif;
        font-style: SemiBold;   
    
    }
    .pd-68{
        padding: 68px 0px !important;
    }
    .pd-24{
        padding-bottom: 24px !important;
    }
    .mg-51{
        margin-bottom: 51px !important;
    }
    .mg-64{
        margin-bottom: 64px !important;
    }
    .mg-20{
        margin-bottom: 20px!important;
    }
    .mgr-40{
        margin-right: 40px !important;
    }
    .main{
        width: 1280px;
        margin:  auto;
    }
    /* Header */
    .header__mobile{
        display: none;
    }
    .header{
        z-index: 10;
        position: fixed;
        background-color: #fff;
        top: 0;
        width: 100%;
        padding: 0 40px;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 16%);
  
       
    }
    
    .header .logo{
        margin-top: 18px;
    }
    
    .header__person,
    .header__search,
    .header__menu :hover{
        cursor: pointer;
        opacity: 0.8;
    }
    /* .header .nav{
        position: absolute;
        right: 200px;
        top: 20px;
    }
    .nav ul{
        text-align: center;
        padding: 20px 0px;
    } 
    .nav ul li{
        display: inline-block;
        padding: 0px 22px;
        margin-bottom: 60px;
        list-style: none;
    } */
    .nav ul li a{
        text-decoration: none;
        color: #2A2A2A;
        font-weight: 600;
        /* font-family:Nunito Sans;
        font-style: SemiBold; */
        font-size: 18px;
    }
    .nav ul li a:hover{
        color: orangered;
    } 
    /* Header Action btn */
    .header .action{
        display: flex;
        position: absolute;
        right: 0;
        top: 34px;
    
    }
    .header .header__search {
        margin: 0px 40px;
       
    }
    
    /* Content */
    .content{
        margin-top: 120px;
    }
    .content .introduce{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:32px;
    }
    .content .favorites{
        cursor: pointer;
    }
    
    /*Content__Desc */
    
    .content .desc{
       margin: auto;
    }
    .desc .trending{
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;
    }
    .desc .trending h6{
        font-family: Poppins;
        font-size: 14px;
        font-style: SemiBold;
        color: #C31815;
        font-weight: 600;
    
    }
    .desc .favorites{
        display: flex;
    }
    .desc .favorites .mailbox{
        margin: 0px 20px;
    }
    
    .desc .post .title p{
        font-size: 32px;
        font-family: IBM Plex Serif;
        font-style: SemiBold;
       font-weight: 700;
       /* text-align: ; */
    }
    .desc .post .post-content p{
        font-size:15px ;
        font-family:Poppins ;
        font-style: Regular;
        line-height: 1.4;
        font-weight: 500;
    
    }
    
    .post .time {
        display: flex;
    }
    .post .time .time__ago{
        padding-right: 9px;
        margin-right: 9px;
    }
    .post .time .time__ago p{
        font-size: 15px;
    }
    .post .time .time__lucy p{
        font-size: 15px;
        opacity: 0.6;
    }
    /* Crossbar */
    .content .crossbar{
        display: flex;
        position: relative;
        background-color: #C31815;
        padding: 35px 0px;
    }
    .content .crossbar .box{
        position: absolute;
        left: 340px;
        top: 10px;
        border: 1px ;
        background-color: #fff;
        padding: 16px ;
       
    }
    .content .crossbar .box p{
        color: #C31815;
        font-size: 16px;
        font-weight: 400;
        
       
    }
    .content .crossbar .crossbar__content{
        position: absolute;
        left: 545px;
        top: 22px;
       
    }
    .content .crossbar .crossbar__content p{
        font-family: Poppins;
        font-style: Medium;
        font-size: 20px;
        color: #fff;
        font-weight: 500;
    }
    /* Option */
    .option {
        display: flex;
        justify-content: space-between;
    }
    .selection__bar:hover{
        cursor: pointer;
        opacity: 0.8;
    }
    .option__menu ul{
    
    }
    .option__menu ul li{
        display: inline-block;
        padding: 0px 22px;
    }
    .option__menu ul li a{
        text-decoration: none;
        color: #2A2A2A;
        font-size: 20px;
        font-weight: 600;
    }
    .option__menu ul li a:hover{
        color: #C31815;
        text-decoration:revert ;
        /* opacity: 0.6; */
    }
    /* Article - Modal Box */
    .article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:32px;
    }
    .article .modal__box{
        border: 1px solid #D2D2D2;
        width: 400px;
        height: 532px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .article .modal__box .item__img img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        width: 100%;
    }
    .modal__box .item__bag{
        /* display: flex; */
       /* margin: 0 auto; */
    }
    .modal__box .item__title{
        font-size: 18px;
        color: #2A2A2A;
        font-weight: 600;
        margin: 20px;
        /* text-align: center; */
    }
    .modal__box .item__content{
        color: #2A2A2A;
        font-size: 15px;
        line-height: 1.4;
        margin: 18px 20px;
        text-align: justify;
    }
    .modal__box .item__time{
        margin: 33px 20px;
        display: flex;
        
    }
    .modal__box .item__ago{
        padding-right: 10px;
        margin-right: 10px;
        color: #2A2A2A;
        font-size: 14px;
    }
    .modal__box .item__lucy{
        color: #2A2A2A;
        font-size: 14px;
        opacity: 0.6;
        opacity: 0.6;
    }
    
    .modal__box .item__icon{
        border-top: 1px solid #D2D2D2;
       
        /* justify-content: space-between; */
        justify-content: space-evenly;
      
    }
    .modal__box .item__icon .item__bag__icon{
        display: flex;
        margin:35px 26px ;
        /* justify-content: center; */
    }
    .item__icon .icon_tym span{
      margin-left: 5px;
    }
    .item__icon .icon_mailbox img{
       margin-right: 5px;
    
    }
    .item__icon .icon_mailbox{
       padding: 0 30px;
      
    }
    /* View More */
    .content .view__more{
        margin-top: 32px;
        text-align: center;
       
    }
    .content .view__more button{
        padding: 22px 61px;
        background-color: #fff;
        border: 1px solid #C31815;
        color: #C31815;
        font-size: 14px;
        font-weight: 700;
    }
    .content .view__more button:hover{
        cursor: pointer;
        opacity: 0.9;
        background-color: #C31815;
        color: #fff;
    }
    /* News */
    
    .content .news .news__bag{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:16px;
    }
    .content .news .news__first, .news__second{
        display: flex;
        flex-direction: row;
    }
    .news .first__bag, .second__bag{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    
    .news .first__img, .second__img{
        margin-right: 16px;
    }
    
    .news .first__title, .second__title{
        font-size: 18px;
        font-weight: 700;
        line-height:25px ;
        font-family: IBM Plex Serif;
        font-style: Bold;
        color: #2A2A2A;
        margin-bottom: 16px;
        max-height: 65px;
        letter-spacing: 0.1px;

    }
    .news .first__content, .second__content{
        font-family: Nunito Sans;
        font-style: Regular;
        font-size: 16px;
       line-height: 1.4;
       padding-top: 10px;
      
    }
    /* Footer */
    footer{
        width:100%;
        height:240px ;
        background-color: #0E1E32;
        color: #fff;
        display: flex;
        align-items: center;
    }
    .footer__center{
        text-align: center;
        display: inline-block;
    }
    .footer__center p{
        padding-top: 30px;
        color: #ccc;
    }
    .footer__text {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 1px;
        color: #fff;
        padding-right: 138px;
    }
    .footer__nav a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        font-size: 20px;
        margin-right: 10px;
    }
    .footer__icon {
        margin-top: 28px;
    }
    .footer__icon a{
        text-decoration: none;
        color: #fff;
        padding-right: 8px;
        margin-right: 24px;
        font-size: 28px;
    }
    
}